/haskell_*/codelab/*.hi
/haskell_*/codelab/*.o
/haskell_*/codelab/codelab
/haskell_*/codelab/solution
/haskell_*/codelab/test_solution
/haskell_*/codelab/test_codelab

/haskell_*/slides/*.log
/haskell_*/slides/*.aux
/haskell_*/slides/*.toc
/haskell_*/slides/*.nav
/haskell_*/slides/*.out
/haskell_*/slides/*.pdf
/haskell_*/slides/*.snm
/haskell_*/slides/*.vrb
/haskell_*/slides/auto/
/haskell_*/slides/_minted-*/
